<div class="ui segment">
		<a class="ui right aligned blue header" href="#">
			<%= link_to User.find(currentPost.user_id).username, user_profile_path(currentPost.user_id), class: "ui link" %>
		</a>
	
	<% if currentPost.post_type == 1 %>
		<hr>
		<div class="ui centered">
		<img class="ui centered big image" src="
			<%= get_image_from_post(currentPost.id) %>
		" >
		<p></p>
		</div>


	<h4 class="ui horizontal divider header">
	  Description
	</h4>
    <% end %>
    <p>
	<div class="ui container" >
		<div class="ui huge header">
		<%= currentPost.title %>
		</div>
		<%= currentPost.description %>
	</div>
	<h4 class="ui horizontal divider header">
	  Tags
	</h4>
	<div class="ui grid">
		<div class="thirteen wide column">
			<% for tag in Tagged.where(:post_id => currentPost.id) do %>

				<a class="ui blue small header" href="#"> <%= tag.tag %> </a> ,

			<% end %>
		</div>
		<div class="three wide column right aligned">
			<% if is_user_logged_in %>
			<button class="ui red button"> 
				<i class="heart icon"></i>
			</button>
			<% if currentPost.user_id == session[:user_id]%>
				<%= link_to '<button class="ui active button"> 
					<i class="trash icon"></i>'.html_safe(), posts_path(currentPost.id), method: :delete, data:{confirm:"Are You Sure?"} %>
				</button>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
